extends layout

block content
	div.faq
		h3 Q. Why is buy now not working?
		h4 A. Because we are still in testing phase and don't want you to get troubled.
		br
		h3 Q. When will you start?
		h4 A. Coming soon.
		br
		h3 Q. Is payment secure?
		h4 A. We use third party to make it secure.