extends ../layout

block content
  div.mybox
    h2 SignUp
    form(action="/users/signup", method="POST", class="myform")
      label User name
      input(type="text", name="username")
      label E-mail
      input(type="text", name="email")
      label Password
      input(type="password", name="password")
      label Confirm Password
      input(type="password", name="cpassword2")
      br
      input(type="submit", name="submit")
