<<<<<<< HEAD
extends ../layout

block content
  div.mybox
    h2 SignUp
    form(action="/users/signup", method="POST", class="myform")
      label User name
      input(type="text", name="username")
      label E-mail
      input(type="text", name="email")
      label Password
      input(type="password", name="password")
      label Confirm Password
      input(type="password", name="cpassword2")
      br
      input(type="submit", name="submit")
=======
doctype html
html
  head
    title signup
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
  h2 New user? SignUp
    form(action="/", method="get", class="myform")
      label user name
      input(type="text", name="uname")
      label e-mail
      input(type="text", name="email")
      label password
      input(type="password", name="password")
      br
      input(type="submit", name="submit")
>>>>>>> Initial commit
