extends ../layout

block content
	h1 your total amount due is #{total}
	form(action="/checkout" method="POST" class="all-form")
		table
			tr
				td(colspan="2")
					h2 Card Details
			tr
				td Name
			tr
				td(colspan="2")
					input(type="text" name="name" required)
			tr
				td Address
			tr
				td(colspan="2")
					input(type="text" name="addone" required)
			tr
				td Credit car holder name
			tr
				td(colspan="2")
					input(type="text" name="chname")
			tr
				td Expiration month
				td Expiration year
			tr
				td
					input(type="text" name="emonth")
				td
					input(type="text" name="eyear")
			tr
				td CVV/CVC
			tr
				td(colspan="2")
					input(type="text" name="count")
			tr
				td(colspan="2")
					input(type="submit" name="checkout")


