div.catalogue-container
  each product in products
    div.single-product
      img(src="#{product.image}" alt="image.jpg")
      div
        div.price
          label $ #{product.price}
        button(name="add" class="btn-add") Add to basket
