<<<<<<< HEAD
doctype html
html
  head
    title Riddhi Fashion
    meta(charset="utf-8")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
  body
    h1 Riddhi Fashion
    div.pinktext
      p Welcome to Riddhi Fashion
    include ../header/header
    include productdisplay
    block content
=======
doctype html
html
  head
    title Riddhi Fashion
    meta(charset="utf-8")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
  body
    h1 Riddhi Fashion
    div.pinktext
      p Welcome to Riddhi Fashion
    include ../header/header
    include productdisplay
    block content
>>>>>>> Initial commit
