<<<<<<< HEAD
ul
  li: a(href="/") Home
  li: a(href="/about") About
  li.dropdown
    a(href="javascript:void(0)").dropbtn Shop
    div.dropdown-content
      a(href="/all") All
      a(href="/kurti") Kurti
      a(href="/anarkali") Anarkali
      a(href="/gown") Gown
  li: a(href="/faq") FAQ
  li: a(href="/contact") Contact
  div.right
    li: a(href="/cart")
      i(class="fa fa-shopping-bag" aria-hidden="true") Shopping cart
    if user
      li.dropdown
        a(href="javascript:void(0)").dropbtn Your Account
        div.dropdown-content
          a(href="/users/myprofile") My Profile
          a(href="/users/myorders") My Orders
          a(href="/users/logout") LogOut
    else
      li: a(href="/users/signin") SignIn

    
=======
ul
  li: a(href="/") Home
  li: a(href="/about") About
  li.dropdown
    a(href="javascript:void(0)").dropbtn Shop
    div.dropdown-content
      a(href="/all") All
      a(href="/kurti") Kurti
      a(href="/anarkali") Anarkali
      a(href="/gown") Gown
  li: a(href="/faq") FAQ
  li: a(href="/contact") Contact
  div.right
    li: a(href="/cart")
      i(class="fa fa-shopping-bag" aria-hidden="true") Shopping cart
    li: a(href="/users/signin") SignIn
>>>>>>> Initial commit
